body {
    background-color: #84828F;
  }
  

  .wordgame {
    background-color: #3E4C5E;
    border: 1px solid;
    margin-bottom: 1em;
    padding: 1em;
    width: 35em;
    border-radius: 0.25em;
    display: block;
    padding: 0.5em
    
  }
  
  .enough {
    border: 1px solid;
    margin-bottom: 1em;
    padding: 1em;
    width: 35em;
    border-radius: 0.25em;
    display: block;
    padding: 0.5em;
    background-color: #3E4C5E;
  }
   
  

  .phonebill {
  
    border: 1px solid;
    margin-bottom: 1em;
    padding: 1em;
    width: 35em;
    height: 13em;
    border-radius: 0.25em;
    display: block;
    padding: 0.5em;
    background-color: #3E4C5E;
}

button {
  background-color: #84828F;
  padding: 2px 4px;
  text-align: center;
  border-radius: 8px;
}

.button {
  background-color: grey;
  padding: 2px 4px;
  text-align: center;
  border-radius: 8px;
}
  