body {
    background-color: #636363;
  }
  

  .wordgame {
    background-color: #85C7F2;
    border: 1px solid;
    margin-bottom: 1em;
    padding: 1em;
    width: 35em;
    border-radius: 0.25em;
    display: inline-block;
    padding: 0.5em
    
  }
  
  .enough {
    border: 1px solid;
    margin-bottom: 1em;
    padding: 1em;
    width: 35em;
    border-radius: 0.25em;
    display: inline-block;
    background-color: #DBDBDB;
    padding: 0.5em;
    background-color: #85C7F2;
  }
   
  

  .phonebill {
  
    border: 1px solid;
    margin-bottom: 1em;
    padding: 1em;
    width: 35em;
    height: 13em;
    border-radius: 0.25em;
    display: inline-block;
    padding: 0.5em;
    background-color: #85C7F2;
}

button {
  background-color: #DBDBDB;
  padding: 2px 4px;
  text-align: center;
  border-radius: 8px;
}

